.rcAnimationPerspectiveContainer {
    display: flex;
    flex-direction: column;
    font-size: 68px;
    font-weight: 900;
    line-height: 45px;
    justify-content: center;
    padding: 0;
    text-transform: uppercase;
}

.rcAnimationPerspective {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.rcAnimationPerspective:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.66667);
}

.rcAnimationPerspective:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.33333);
}

.rcAnimationPerspective:nth-child(1) {
    left: 29px;
}

.rcAnimationPerspective:nth-child(2) {
    left: 58px;
}

.rcAnimationPerspective:nth-child(3) {
    left: 87px;
}

.rcAnimationPerspective:nth-child(4) {
    left: 116px;
}

.rcAnimationPerspective:nth-child(5) {
    left: 145px;
}

.rcAnimationPerspective:nth-child(6) {
    left: 174px;
}

.rcAnimationPerspective:nth-child(7) {
    left: 203px;
}
