@keyframes rcAnimationNeon {
    from {
        text-shadow:
            0 0 10px var(--backgroundColor),
            0 0 7.5px var(--backgroundColor),
            0 0 20px var(--backgroundColor);
    }

    to {
        text-shadow: none;
        box-shadow: none;
    }
}
