@keyframes rcAnimationNeon {
    from {
        text-shadow:
            0 0 10px #ff0080,
            0 0 7.5px #ff0080,
            0 0 20px #ff0080;
    }

    to {
        text-shadow: none;
        box-shadow: none;
    }
}
