.rc-animation-shiny-text {
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    overflow: hidden;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes rc-animation-shiny-text {
    0% {
        background-position: -400%;
    }

    100% {
        background-position: 400%;
    }
}